<!-- 
/**
* Author : Daniel Masci - 200299037
* Class : Advanced Web Programming
* Semester : 3
* Professor : Rich Freeman / Tom Tsiliopolous
* Purpose : Assignment 2 - Authentication
* Website Name : MasciApps
* 
* The Following page is the View for the "Login" page.
*/ 
-->


<%- include ./partials/header.ejs %>

<div class="interior-header" style="background-image: url(../images/slide4.jpg)">
	<div class="container">
		<h1>Page Not Found</h1>
	</div>
</div><!-- interior-header -->

<div class="interior-page" id="login-page">

	<div class="four-oh-four">
		<h1><%= message %></h1>
		<h2><%= error.status %></h2>
		<pre><%= error.stack %></pre>
	</div>

</div><!-- #login-page -->

<%- include ./partials/footer.ejs %>